
.main-section{
    height: calc(100vh - 118px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
    overflow: auto;
    background: url(../../../img/booster_s_shifting_cubeing_s_by_boost_master-d676ife.gif)no-repeat center;
    background-size: cover;
}

.movies-container{
    width: 100%;
    max-width: 1400px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item-section{
    width: 15%;
    min-width: 210px;
    height: 300px;
    min-height: 300px;
    margin: 10px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    border: 2px solid rgba(219, 191, 32, 0.616);
}

.item-section:hover{
    -webkit-box-shadow: 0px 0px 22px 6px rgba(107, 104, 104, 0.75);
    -moz-box-shadow: 0px 0px 22px 6px rgba(107, 104, 104, 0.75);
    box-shadow: 0px 0px 22px 6px rgba(107, 104, 104, 0.75);
}

.player-placeholder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    background: rgba(141, 136, 136, 0.39);
    background-size: contain;
    z-index: 800;
    opacity: 0;
    transition: .3s;
}

.player-placeholder:hover{
    opacity: 1;
}

.player-placeholder:hover ~ .film-poster{
    width: 100%;
    height: 100%;
    transform: scale(1.1);
    filter: blur(2px);
}

.film-poster{
    width: 100%;
    height: 100%;
    max-height: 380px;
    transition: .5s;
}

.play-btn{
    height: 60px;
    width: 60px;
    background: url(../../../img/video-play-icon-transparent-1.png)no-repeat center;
    background-size: cover;
    border: none;
    transition: .3s;
    border-radius: 50%;
    border: 2px solid rgb(248, 244, 244);
}

.play-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.play-btn:focus{
    outline: 0;
}

.imdb-rate{
    width: 30px;
    height: 12px;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(15, 14, 14, 0.637) url(../../../img/IMDB_Logo_2016.svg)no-repeat center top;
    background-size: contain;
    border-radius: 5px;
    border: 2px solid rgba(37, 36, 35, 0.671);
    color: #fff;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

.item-lang{
    width: 25px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
    padding-top: 2px;
    background: rgba(15, 14, 14, 0.637);
    background-size: contain;
    border-radius: 5px;
    border: 2px solid rgba(37, 37, 35, 0.671);
    color: #fff;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}

.people-counter{
    width: 30px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 2px 0 2px 0;
    position: absolute;
    top: 45px;
    right: 5px;
    background: rgba(15, 14, 14, 0.637) url(../../../img/thumb1.png)no-repeat center 5px;
    background-size: 50%;
    border-radius: 5px;
    border: 2px solid rgba(37, 36, 35, 0.671);
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
}
.release-date{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
    background: rgba(17, 17, 17, 0.637);
    background-size: contain;
    border: none;
    border-bottom: 2px solid rgba(82, 81, 80, 0.705);
    color: rgba(59, 159, 199, 0.849);
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    transition: .3s;
}

.overview-btn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0px;
    z-index: 10;
    background: rgba(15, 14, 14, 0.637);
    background-size: contain;
    border: none;
    border-top: 2px solid rgba(219, 191, 32, 0.616);
    color: rgb(234, 238, 240);
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    transition: .3s;
}

.overview-btn:before {
    content: "Show overview";
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
 }

.overview-btn-close:before {
    content: "Hide overview";
}

.overview-btn:hover{
    cursor: pointer;
    background: rgba(7, 7, 7, 0.829);
}

.overview-btn:focus{
    outline: 0;
}

.get-similar-btn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    z-index: 10;
    background: rgba(15, 14, 14, 0.637);
    background-size: contain;
    border: none;
    border-bottom: 2px solid rgba(219, 191, 32, 0.616);
    color: rgb(234, 238, 240);
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    transition: .3s;
}

.get-similar-btn:hover{
    cursor: pointer;
    background: rgba(7, 7, 7, 0.829);
}

.get-similar-btn:focus{
    outline: 0;
}

.overview-content-act{
    opacity: 1!important;
    top: 0!important;
}

.overview-content{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    position: absolute;
    top: -300px;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.863);
    color: rgb(197, 204, 207);
    transition: .4s;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 13px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    overflow: scroll;
}

.film-title{
    width: 80%;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    color: gold;
}

.item-overview{
    width: 80%;
}

.youtube-container{
    width: 100%;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(32, 32, 32, 0.952);
    position: absolute;
    z-index: 1000;
    top: 0px;
}

.youtube-iframe{
    width: 150vh;
    height: 75vh;
    border: 5px solid rgb(5, 5, 5);
    border-radius: 15px;
    position: relative;
    z-index: 1000;
    margin-top: 70px;
}

.close-ifrem{
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 1200;
    top: 15px;
    right: 20px;
    border-radius: 50%;
    background: url(../../../img/close.png)no-repeat center;
    border: none;
    background-size: 100%;
    transition: .2s;
}

.close-ifrem:hover{
    cursor: pointer;
    transform: scale(1.2) rotate(90deg);
}

.flex{
    display: flex;
}

@media screen and (min-device-width: 1400px) {
    .youtube-iframe{
        width: 120vh;
        height: 65vh;
    }
}


@media screen and (max-device-width: 1250px) {
    .youtube-iframe{
        width: 110vh;
        height: 65vh;
    }
}

@media screen and (max-device-width: 900px) {
    .youtube-iframe{
        width: 100vh;
        height: 70vh;
    }
}

@media screen and (max-device-width: 750px) {
    .youtube-iframe{
        width: 95vh;
        height: 65vh;
    }
}


@media screen and (max-device-width: 600px) {
    .youtube-iframe{
        width: 70vh;
        height: 45vh;
    }

    .header-btn:focus{
        height: 45px;
    }

    .header-btn{
        height: 40px;
    }

    .header-logo{
        display: none;
    }
    .refresh-btn {
        position: absolute;
        top: 75px;
        right: -18px;
    }
    .header-btn-container {
        justify-content: center;
    }
    .scrollBtn {
        right: 3px!important;
    }
}

@media screen and (max-device-width: 480px) {
    .youtube-iframe{
        width: 300px;
        height: 200px;
    }
}